/* body {
  background: #043152 !important;
} */

label[data-shrink="false"]
  + .MuiInputBase-formControl
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  color: white !important;
  border: 1px solid !important;
  border-radius: 4px !important;
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: white !important;
}
label[data-shrink="false"]
  + .MuiInputBase-formControl
  .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input
  :hover {
  color: white !important;
  border: 1px solid !important;
  border-radius: 4px !important;
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #000000 !important;
  font-weight: bold;
  font-size: 1.2rem !important;
  margin-top: -.2rem;
}

/* .css-hip9hq-MuiPaper-root-MuiAppBar-root{
  position: fixed !important;
} */

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
  background: white !important;
}


.css-hyum1k-MuiToolbar-root {
  min-height: 0px !important;
}

.image{
  background-image:url('./Assets/output-onlinepngtools.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 40rem;
}

.imagechgpass{
  background-image:url('./Assets/output-onlinepngtools.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 45rem;
  margin-bottom: 7rem;
}


.css-1mk9mw3-MuiList-root {
  transition-duration: 372ms !important;
  overflow-y: scroll !important;
  height: 16.6rem !important;
  margin-right: 1rem !important;
}

.loginLogo {
  height: 5rem;
}

.loginImage {
  height: 32rem;
  width: 32rem;
  margin-top: 6rem;
}

.loginCard {
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  height: 35rem;
}

.loginText {
  color: #043152 !important;
  margin-left: 3.7rem !important;
  margin-top: 1rem !important;
  font-weight: 600 !important;
}

.loginWelText {
  color: white;
  margin: auto !important;
  margin-left: 4.5rem !important;
  font-family: "SF PRO" !important;
  margin-top: 1.5rem !important;
}

.loginAcc {
  color: white;
  margin-top: 1rem !important;
  margin-left: 4.5rem !important;
  font-size: 1rem !important;
}

.loginSignUp {
  color: white !important;
  margin-top: 1rem !important;
  margin-left: 1rem !important;
  text-decoration: underline !important;
  font-weight: bolder !important;
}

/* .loginImageDiv {
  background: #d7edfd !important;
} */

.loginInputDiv {
  background: linear-gradient(#0093ff, #043152) !important;
  box-shadow: -2px 10px 30px 6px #043152 !important;
}

.loginInputBox {
  display: flex !important;
  flex-direction: column !important;
  margin-top: 1rem;
}

.loginInput1 {
  color: white;
  width: 19rem !important;
  margin: auto !important;
}

.loginInput2 {
  color: white;
  width: 19rem !important;
  margin: auto !important;
  margin-top: 2rem !important;
}

.signupInput2 {
  color: white;
  width: 19rem !important;
  margin: auto !important;
  margin-top: 1rem !important;
}

.loginCheckStatus {
  display: flex !important;
  flex-direction: row !important;
  margin-top: 1rem !important;
  justify-content: space-around !important;
}

.loginCheckBox {
  display: flex !important;
}

.loginCheckboxStyle {
  color: white !important;
}

.loginButton {
  border: 2px solid white !important;
  width: 19rem !important;
  margin: auto !important;
  color: white !important;
  margin-left: 6.2rem !important;
  margin-top: 2.5rem !important;
}

.loginLogText {
  color: white;
  margin-top: 1rem !important;
  margin-left: 0rem !important;
}

.loginForgetText {
  margin-top: 1rem !important;
  color: #ffffff !important;
}

.loginInputText {
  display: flex !important;
  flex-direction: row !important;
}

.css-d9ml5t-MuiDrawer-docked .MuiDrawer-paper {
  box-sizing: border-box;
  width: 240px;
  margin-top: 4rem;
}

/* HEADER STYLING */
.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: #ECF8F9 !important;
  color: #000000 !important;
  box-shadow: none !important;
}

.css-1q39md6-MuiButtonBase-root-MuiButton-root{
  color: #000000 !important;
}

.css-o5vbvm{
  background-color: #ECF8F9 !important;
  padding: 4px !important;
}


/* .css-vj1n65-MuiGrid-root {
  box-sizing: border-box;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 2rem !important;
} */

.marginTop {
  margin-top: 3rem !important; 
} 

.marginTopLogin{
  margin-top: 3rem !important;
}

.css-r6ewbb-MuiToolbar-root{
  display: flex;
  justify-content: space-between;
}

.css-o5vbvm{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 4px !important;
  margin-top: 3rem !important;
}

.forget-heading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.forget-textfield{
  display: flex !important;
  flex-direction: column !important;
  justify-content: center;
  width: 30rem;
  height: 27rem;
  margin-top: 4rem;
  margin-left: 34rem;
  align-items: center;
  background: linear-gradient(#9BE8D8, #45CFDD) !important;
  box-shadow: -2px 10px 30px 6px #45CFDD !important;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
  width: 20rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root{
  color: white !important;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
  color: black !important;
}

table {
  width: 100%;
  padding: 1em;
  margin: 20px 0;
  border-collapse: collapse;
  box-shadow: 0 1px 2px 0 #c6e8c9;
}

thead {
  background-color: #caf0ec;
  font-size: 16px;
}

th {
  text-align: left;
  padding: 8px;
  background-color: 1px solid #ffffff;
  color: #14877c;
}
td {
  text-align: left;
  padding: 8px;
}

tr {
  height: 50px;
}

tr:nth-child(even) {
  background-color: #e0e0e0;
}

.pagination {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 10px;
}
.pagination li {
  display: inline;
  text-align: center;
}
.pagination a {
  float: left;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 12px;
  color: #fff;
  margin-left: -1px;
  border: 1px solid transparent;
  line-height: 1.5;
}
.pagination a.active {
  cursor: default;
}
.pagination a:active {
  outline: none;
}

.modal-5 {
  position: relative;
}
.modal-5:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 35px;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 40%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0.65) 60%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 40%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0.65) 60%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 40%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0.65) 60%, rgba(0, 0, 0, 0) 100%);
}
.modal-5 a {
  color: #666;
  padding: 13px 5px 5px;
  margin: 0 10px;
  position: relative;
}
.modal-5 a:hover {
  color: #fff;
}
.modal-5 a:hover:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background: #1E7EE2;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  z-index: -1;
  left: -3px;
  bottom: 4px;
  margin: auto;
}
.modal-5 a.next, .modal-5 a.prev {
  color: #1E7EE2;
}
.modal-5 a.next:hover, .modal-5 a.prev:hover {
  color: #fff;
}
.modal-5 a.next:hover:after, .modal-5 a.prev:hover:after {
  display: none;
}
.modal-5 a.active {
  background: #1E7EE2;
  color: #fff;
}
.modal-5 a.active:before {
  content: '';
  position: absolute;
  top: -11px;
  left: -10px;
  width: 18px;
  border: 10px solid transparent;
  border-bottom: 7px solid #104477;
  z-index: -1;
}
.modal-5 a.active:hover:after {
  display: none;
}

table {
  margin: 0px !important;
  margin-bottom: 2rem !important;
  border: none;
}

.css-15wwp11-MuiTableHead-root{
  background: #50C7C7 !important;
  color: #000000 !important;
}

tr:nth-child(even){
  background: #bee8e8 !important;
}

.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root{
  color: black !important;
}






